@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b><i><span style="color: red;">W</span><span style="color: orange;">e</span><span style="color: yellow;">l</span><span style="color: green;">c</span><span style="color: darkblue;">o</span><span style="color: purple;">m</span><span style="color: palevioletred;">e</span>
    
        <span style="color: turquoise;">T</span><span style="color: aliceblue;">o</span>
    
        <span style="color: yellow;">A</span><span style="color: saddlebrown;">g</span><span style="color: aquamarine;">r</span><span style="color: indianred;">i</span><span style="color: blue;">C</span><span style="color: red;">o</span><span style="color: yellow;">n</span><span style="color: yellow;">n</span><span style="color: chartreuse;">e</span><span style="color: darkseagreen;">c</span><span style="color: teal;">t</span><i /><b />
    </h1>
    <p><b><span style="color: floralwhite;">ST10054867 TRUSHA LALLA</span></b></p>
    <p><b><span style="color: black;">This initiaitve seeks to develop an innovative web platform that bridges the gap between the agricultural sector and green energy technology providers.</span></b></p>
    <p><b><span style="color: black;">The primary goal of this user-friendy website is to create a digital ecosystem where farmers, green energy experts and enthusiasts can collaborate, share resources and innovate in the realms of sustainable agricultural and renewable energy.</span></b></p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="/images/pic1.jpg" alt="main picture-tractor on a farm with the sun shining bright" width="400" height="300">
<img src="/images/pic2.jpg" alt="picture of a fram contaning several crops and plants under a shade net" width="400" height="300">
<img src="/images/pic3.jpg" alt="wind turbines" width="400" height="300">
<img src="/images/pic4.jpg" alt="soalr panels" width="400" height="300">
<img src="/images/pic5.jpg" alt="handheld device controlling factors such as watering and temp control in the farms with shade nets" width="400" height="300">
<img src="/images/pic6.jpg" alt="5G tech in farms" width="400" height="300">


